#number {
    color: black;
}
.num {
	width:100px;
	height:100px;
	background-size: 100px;
}
.num0{
	background-image: url("icons/slot0.png");
}
.num1{
	background-image: url("icons/slot1.png");
}
.num2{
	background-image: url("icons/slot2.png");
}
.num3{
	background-image: url("icons/slot3.png");
}
.num4{
	background-image: url("icons/slot4.png");
}
.num5{
	background-image: url("icons/slot5.png");
}
.num6{
	background-image: url("icons/slot6.png");
}
.num7{
	background-image: url("icons/slot7.png");
}
.num8{
	background-image: url("icons/slot8.png");
}
.num9{
	background-image: url("icons/slot9.png");
}