#wheel {
    color: red;
}
.wheel {
    
    @import 'number';

	width:100px;
	height:100px;
	background-size: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    
}

.wheel.rolling {
    filter: blur(5px);
}

.wheel.gradient {
    mask-image: linear-gradient( 0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 25%,rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
}